*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: system-ui;
background-color: #222;
color: azure;
}
.crud{
    width: 80%;
    margin: auto;

}
header{
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
input{
    width: 100%;
    height: 30px;
    background-color: #111;
    padding: 10px;
    max-width: 10px 0;
    outline: none;
    border: none;
    margin: 4px 0px;
    border-radius: 5px;
    color: #fff;
}
input:focus{
    background-color: #000;
    scale: 1.1;
}
.price input{
    width: 20%;
    
}
#total{
    background-color: rgb(109, 6, 6);
    padding: 5px 2px;
    border-radius: 5px;
}
#total::before{
    content: "total: ";
}
button{
    width: 100%;
    height: 30px;
    background-color: #310044;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background-color: #6b0f8f;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
table{
    width: 100%;
    text-align: center;
    max-width: 10px 0px;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
